[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RNHANES"]
	path = RNHANES
	url = https://github.com/silentspringinstitute/rnhanes
